.card{
    padding: 30px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    background: white;
    max-width: 210px;
    display: inline-flex;
    flex-direction: column;
    
 
 
}

.card_wrapper{
    width: fit-content;
  
}

.like_btn{
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
}

.item{
    display: flex;
    max-width: 136px;
}

.item_wrapper{
    display: flex;
    position: relative;
}

.name{
    font-size: 14px;
    line-height: 17px;
    max-width: 150px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.price{
    display: flex;
    flex-direction: column;


}

.price_title{
    color: #BDBDBD;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 2px;

}

.price_count{
  
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.plus_btn{
    cursor: pointer;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


