.search{
    display: flex;
    align-items: center;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 15px;
}

.input{
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    border: none;
    height: 100%;
    margin-left: 14px;
    text-decoration: none;
}

.input:focus {
     outline: none;
  }